.background-color{
    --background: linear-gradient(to bottom right, rgb(255, 147, 210),rgb(173, 225, 255));
}

.colores{
    --background: linear-gradient(to bottom right, rgb(255, 147, 210),rgb(173, 225, 255));
}

.flecha{
    color: rgb(104, 104, 104);
}

.crear{
    --background: rgb(196, 233, 255);
}

.eliminar{
    --background: rgb(255, 211, 237);
}

.txt{
    color: rgb(122, 206, 255);
  }