<ion-header class="ion-no-border" >
  <ion-toolbar class="background-color">
    <ion-title class="ion-text-center"><b><i>Producto</i></b></ion-title>
    <ion-buttons slot="start">
      <ion-button href="../producto">
        <ion-icon name="chevron-back-outline" class="flecha"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="producto">
<br>
<ion-card>
  
  <ion-item>
  <h3 >{{ producto.Precio}}</h3>
  </ion-item>
  <br>
  <ion-item>
    <h3>{{ producto.Descripcion }}</h3>
  </ion-item>
  <br>
  <ion-item>
    <h3>{{ producto.Categoria }}</h3>
  </ion-item>
  <br>
  <ion-item>
    <h3>{{ producto.proveedores_Id }}</h3>
  </ion-item>

</ion-card>

<div class="ion-padding">
  <ion-button routerLink="/putproducto/{{producto.Id}}" class="colores" expand="block">Editar</ion-button>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="txt">Brenda Azucena</ion-title>
  </ion-toolbar>
</ion-footer>