<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center"><b>TIENDA</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="inicio">
<br>
<br>
<br>
<br>
<br>
    <ion-slides> 

      <ion-slide>
        <img src="../../../assets/icon/cli.png">
        <ion-card>
          <p class="av">La clave es, que se involucra a través de experiencias.
         <br> <br><a href="../cliente">Cliente</a></p>
        </ion-card>
      </ion-slide> 

    <ion-slide>
      <img src="../../../assets/icon/pro.jpg"/>
      <ion-card>
        <p class="av">Para tener éxito y hacer crecer debe coincidir la forma que se comprende.
        <br><br><a href="../proveedor">Proveedor</a></p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/icon/fac.jpg"/>
      <ion-card>
        <p class="av">Trabaja con disciplina y constancia desde el primer día.
       <br> <br><a href="../factura">Factura</a></p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/icon/prod.png"/>
      <ion-card>
        <p class="av">Un profesional en lo necesario siempre que vaya 
          a ser sustituido por una idea mejor.
        <br><br><a href="../producto">Producto</a></p>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/icon/ven.png"/>
      <ion-card>
        <p class="av">Busca y aportar valor útil a los usuarios finales.
       <br> <br><a href="../venta">Venta</a></p>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="../cliente">
        <ion-icon class="color" name="people-outline"></ion-icon>
        <ion-label class="ts">Cliente</ion-label>
      </ion-tab-button>
  
      <ion-tab-button  routerLink="../proveedor">
        <ion-icon class="color" name="cube-outline"></ion-icon>
        <ion-label class="ts">Proveedor</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="../factura">
        <ion-icon class="color" name="bookmarks-outline"></ion-icon>
        <ion-label class="ts">Factura</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="../producto">
        <ion-icon  class="color" name="archive-outline"></ion-icon>
        <ion-label class="ts">Producto</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="../venta">
        <ion-icon class="color" name="pricetag-outline"></ion-icon>
        <ion-label class="ts">Venta</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
 
</ion-content>
