.background-color{
    --background: linear-gradient(to bottom right, rgb(150, 150, 240), rgb(235, 155, 252));
}

.colores{
    --background: linear-gradient(to bottom right, rgb(150, 150, 240), rgb(235, 155, 252));
}

.flecha{
    color: rgb(104, 104, 104);
}

.crear{
    --background: rgb(173, 185, 255);
}

.eliminar{
    --background: rgb(125, 44, 231);
}

.txt{
    color: rgb(74, 0, 211);
}