<ion-header class="ion-no-border" >
  <ion-toolbar class="background-color">
    <ion-title class="ion-text-center"><b><i>Factura</i></b></ion-title>
    <ion-buttons slot="start">
      <ion-button href="../factura">
        <ion-icon name="chevron-back-outline" class="flecha"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="factura">
<br>
<ion-card>
  
  <ion-item>
  <h3 >{{ factura.Fecha }}</h3>
  </ion-item>
  <br>
  <ion-item>
    <h3>{{ factura.Descuento }}</h3>
  </ion-item>
  <br>
  <ion-item>
    <h3>{{ factura.Cantidad }}</h3>
  </ion-item>
  <br>
  <ion-item>
    <h3>{{ factura.cliente_Id }}</h3>
  </ion-item>

</ion-card>

<div class="ion-padding">
  <ion-button routerLink="/putfactura/{{factura.Id}}" class="colores" expand="block">Editar</ion-button>
</div> 

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="txt">Brenda Azucena</ion-title>
  </ion-toolbar>
</ion-footer>
